body {
  margin: 0;
  padding: 0;
}

.navbar p {
  font-size: 1.4rem;
  padding: 5px;
}

.content {
  min-height: 400px;
  width: 400px;
  border-radius: 7px;
  border-bottom: 2px solid salmon;
  margin-bottom: 100px;
  margin: 0 auto;
}
.card {
  margin: 5px 5px;
}

.card div {
  margin: 0px 5px;
}

.empty {
  text-align: center;
  margin-top: 15px;
  color: red;
  font-size: 1.2rem;
}

li {
  cursor: pointer;
}

li:hover {
  box-shadow: 3px 3px 5px rgb(194, 194, 174);
}

form {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

form .btn {
  margin: 20px auto;
  background-color: rgb(50, 54, 13);
}

.delete-btn {
  margin-top: -45px;
  margin-right: 10px;
  padding: 5px 20px;
  outline: none;
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(26, 29, 5);
}

.delete-btn:hover {
  background-color: red;
}
